@using X.PagedList;
@using X.PagedList.Web.Common;
@addTagHelper *, X.PagedList.Mvc.Core

@model CasaVanilha.WebUI.ViewModels.ProductAndOrderListViewModel

@{
    ViewData["Title"] = "Home Page";
}

<style>
    .item-container {
        width: 33.33%;
        text-align: center;
    }

    .item-container-span {
        color: rgba(0, 0, 0, 0.6);
        font-weight: 600;
    }

    .quantity-container .btn,
    .quantity-container span {
        border: none;
        padding: 10px;
    }

    .quantity-container .btn {
        background-color: #e0e0e0;
        cursor: pointer; 
    }

    .quantity-container span {
        padding: 10px 20px; 
    }

    .div-resumo {
        margin-top: auto;
    }

    .btn-imprimir {
        background-color: #FF4081;
        color: #fff;
        border: none;
        border-radius: 50px;
        padding: 5px 65px;
    }

        .btn-imprimir:hover {
            background-color: #E53770;
        }
</style>

<div class="mt-4">
    <h4 class="fs-4">Bem-vindo!</h4>
</div>

<div class="row mt-4">
    <div class="col-6">
        <form>
            <div class="input-group flex-nowrap">
                <input type="text" name="searchTerm" class="form-control" placeholder="Pesquise o produto aqui" aria-label="Produto" aria-describedby="addon-wrapping">
            </div>

            <div class="shadow rounded-3 p-3 mt-3">
                <div class="d-flex justify-content-between align-items-center pe-1 ps-1 border-bottom">
                    <div class="item-container text-start ms-1">
                        <span class="item-container-span fw-semibold">Nome</span>
                    </div>
                    <div class="item-container">
                        <span class="item-container-span fw-semibold">Quantidade</span>
                    </div>
                    <div class="item-container text-end">
                        <span class="item-container-span fw-semibold">Preço</span>
                    </div>
                </div>
                <div id="productList" style="height: 600px;">
                    @foreach (var Product in Model.PagedProductDto)
                    {
                        <div class="d-flex justify-content-between align-items-center pe-1 ps-1 pb-1 mb-2 mt-1 border-bottom clickable-product" data-id="@Product.Id">
                            <div class="item-container text-start ms-1">
                                <span>@Product.Name</span>
                            </div>
                            <div class="item-container">
                                <span class="badge rounded-pill bg-primary">@Product.StockQuantity</span>
                            </div>
                            <div class="item-container text-end">
                                <span>@string.Format("{0:C}", @Product.UnitPrice)</span>
                            </div>
                        </div>
                    }
                </div>
                <div class="text-center">
                    <vc:paged-list-pager paged-list="@Model" link-string="(x => Url.Action(" Index", new { page=x }))" />
                </div>
            </div>
        </form>
    </div>
    <div class="col-6">
        <div class="d-flex flex-column justify-content-between shadow rounded-3 p-3 h-100">
            <div>
                <h4 class="fs-4 mb-3">Resumo por pedido</h4>
                <div class="d-flex justify-content-between align-items-center pe-1 ps-1 border-bottom">
                    <div class="item-container text-start ms-1">
                        <span class="item-container-span fw-semibold">Item</span>
                    </div>
                    <div class="item-container">
                        <span class="item-container-span fw-semibold">Quantidade</span>
                    </div>
                    <div class="item-container text-end">
                        <span class="item-container-span fw-semibold">Subtotal</span>
                    </div>
                </div>
                <div id="ProductOrderItem">
                    
                </div>
            </div>
            <div class="d-flex justify-content-end p-2 mt-3">
                <div class="d-flex flex-column align-items-center">
                    <div>
                        <span class="me-1">Somatório total</span>
                        <span id="OrderItemtotals" class="fw-bold" style="font-size: 40px;">$00,00</span>
                    </div>
                    <div>
                        <button onclick="CloseOrder()" class="btn-imprimir">Imprimir comanda</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            var debounceTimer;
            $("input[name='searchTerm']").on('keyup', function () {
                clearTimeout(debounceTimer);
                var searchTerm = $(this).val();
                debounceTimer = setTimeout(function () {
                    $.ajax({
                        url: '@Url.Action("AjaxIndex", "Home")',
                        type: 'GET',
                        data: { searchTerm: searchTerm },
                        success: function (response) {
                            var productListDiv = $("#productList");
                            productListDiv.empty();

                            if (response.products.length === 0) {
                                productListDiv.append('<h3 class="text-center mt-2">Nenhum produto encontrado!</h3>');
                            }

                            $.each(response.products, function (index, product) {
                                var formattedPrice = parseFloat(product.unitPrice).toLocaleString('pt-BR', {
                                    style: 'currency',
                                    currency: 'BRL'
                                });

                                var productDiv = '<div class="d-flex justify-content-between align-items-center pe-1 ps-1 pb-1 mb-2 mt-1 border-bottom clickable-product" data-id="'+product.id+'">' +
                                    '<div class="item-container text-start ms-1">' +
                                    '<span>' + product.name + '</span>' +
                                    '</div>' +
                                    '<div class="item-container">' +
                                    '<span class="badge rounded-pill bg-primary">' + product.stockQuantity + '</span>' +
                                    '</div>' +
                                    '<div class="item-container text-end">' +
                                    '<span>' + formattedPrice + '</span>' +
                                    '</div>' +
                                    '</div>';
                                productListDiv.append(productDiv);
                            });
                        },
                        error: function (error) {
                            console.log(error);
                        }
                    });
                }, 300);
            });

            $('#productList').on('click', '.clickable-product', function () {
                var productId = $(this).data('id');
                toggleOrderItem(productId);
            });

            $('#ProductOrderItem').on('click', '.clickable-product-order', function () {
                var productId = $(this).data('id');
                toggleOrderItem(productId);
            });
        });

        var addedProductIds = [];

        function toggleOrderItem(productId) {
            var isAdded = addedProductIds.includes(productId);

            var currentOrderId = $('#currentOrderId').val();

            if (isAdded) {
                addedProductIds = addedProductIds.filter(id => id !== productId);

                removeOrderItem(currentOrderId, productId);
            } else {
                addedProductIds.push(productId);

                createNewOrder(currentOrderId, productId, 1);
            }
        }

        function createNewOrder(orderId, productId, quantity) {
            var url = '/Order/AddOrderItem';
            $.ajax({
                url: url,
                method: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({ orderId: orderId, productId: productId, quantity: quantity }),
                success: function (response) {
                    var orderId = response.orderId;
                    $('#currentOrderId').val(orderId);
                    loadOrderItems(orderId);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.error('Error adding order item:', textStatus, errorThrown);
                }
            });
        }

        function removeOrderItem(orderId, productId) {
            var url = '/Order/RemoveOrderItem';
            $.ajax({
                url: url,
                method: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({ orderId: orderId, productId: productId }),
                success: function (response) {
                    loadOrderItems(response);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.error('Erro ao remover o item do pedido:', textStatus, errorThrown);
                }
            });
        }

        function loadOrderItems(orderId) {
            $.ajax({
                url: '/Home/GetOrderItems',
                method: 'GET',
                data: { orderId: orderId },
                success: function (response) {
                    var parentElement = $("#ProductOrderItem");
                    parentElement.empty();

                    totalPriceItems = 0;

                    response.forEach(function (order) {
                        var html = createItemHtml(order);
                        parentElement.append(html);
                    });
                    updateTotalPriceDisplay();
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.error('Erro ao carregar itens do pedido:', textStatus, errorThrown);
                }
            });
        }

        var totalPriceItems = 0;

        function createItemHtml(order) {
            var itemTotalPrice = order.product.unitPrice * order.quantity;
            totalPriceItems += itemTotalPrice;
            return `
                <div class="d-flex justify-content-between align-items-center pe-1 ps-1 pb-1 mb-2 mt-1 border-bottom clickable-product-order" data-id="${order.product.id}">
                    <div class="item-container text-start ms-1">
                        <span>${order.product.name}</span>
                    </div>
                    <div class="item-container">
                        <div class="d-flex justify-content-center align-items-center quantity-container">
                            <input id="productId_${order.product.id}" type="hidden" value="${order.product.id}"/>
                            <button onclick="decreaseQuantity('${order.product.id}')" class="btn">-</button>
                            <span id="orderItemQuantity_${order.product.id}">${order.quantity}</span>
                            <button onclick="increaseQuantity('${order.product.id}')" class="btn">+</button>
                        </div>
                    </div>
                    <div class="item-container text-end">
                        <span>${itemTotalPrice.toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' })}</span>
                    </div>
                </div>
            `;
        }

        function updateTotalPriceDisplay() {
            const formattedTotalPrice = totalPriceItems.toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' });
            document.querySelector("#OrderItemtotals").innerText = formattedTotalPrice;
        }

        function decreaseQuantity(orderItemId) {
            let productId = $('#productId_' + orderItemId).val();
            let span = $('#orderItemQuantity_' + productId);
            let quantity = parseInt(span.text(), 10);

            if (quantity > 1) {
                quantity--;
                span.text(quantity.toString());
                updateOrderItemQuantity(productId, quantity);
            }
        }

        function increaseQuantity(orderItemId) {
            let productId = $('#productId_' + orderItemId).val();
            let span = $('#orderItemQuantity_' + productId);
            let quantity = parseInt(span.text(), 10);

            quantity++;
            span.text(quantity.toString());
            updateOrderItemQuantity(productId, quantity);
        }

        function updateOrderItemQuantity(productId, quantity) {
            var url = '/Order/UpdateOrderItemQuantity';

            $.ajax({
                url: url,
                method: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({ ProductId: productId, Quantity: quantity }),
                success: function (response) {
                    loadOrderItems(response);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.error('Erro ao atualizar a quantidade do item do pedido:', textStatus, errorThrown);
                }
            });
        }

        function CloseOrder() {
            var url = '/Order/CloseOrder';

            $.ajax({
                url: url,
                method: 'POST',
                success: function (response) {
                    location.reload();
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.error('Erro ao fechar o pedido:', textStatus, errorThrown);
                }
            });
        }
    </script>
}
